@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /*background-color: #22223b;*/
  background-image: linear-gradient(#22223b, #2e2e50 )
}
input {
  border: 1px solid;
  border-color: rgb(206, 206, 206);
  border-radius: 5px;
}

input:hover {
  border: 1px solid;
  border-color: #64B5F6;
}

.profit-loss {
  color: rgb(56, 255, 146);
}


/* /////Responsive CSS////////*/
@media  (min-width: 750px) {

  h1 {
    font-size: 2.3em;
  }

  h2 {
    font-size: 1.6em;
  }
  
 #input-container {
  flex-direction: row;
} 

  #stock {
    margin-left: 1rem;
}

#price {
  margin-right: 1rem;
}

#stock::placeholder, 
#quantity::placeholder,
#price::placeholder  {
  font-size: 1em;
}

#submitBtn {
  width: 12rem;
  height: 38px;
  font-size: 1rem;

}

#stocklistblock {
  font-size: 1em;
}

}

/*////////End of responsive CSS//////// */



#submitBtn {
  border: none;
  background-color: #fca311 ;
}

#submitBtn:hover {
  border: none;
  background-color: #f19040ea;
  cursor: pointer;
}