@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /*background-color: #22223b;*/
  background-image: linear-gradient(#22223b, #2e2e50 )
}
input {
  border: 1px solid;
  border-color: rgb(206, 206, 206);
  border-radius: 5px;
}

input:hover {
  border: 1px solid;
  border-color: #64B5F6;
}

.profit-loss {
  color: rgb(56, 255, 146);
}